

#homePage,
#contactPage,
#detailsPage,
#aboutPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#homePage {
  background-color: aquamarine;
}

#aboutPage {
  background-color: cadetblue;
}
#contactPage {
  background-color: darkgrey;
}
#detailsPage {
  background-color: bisque;
}